$primary-color: #B0C6D5;
$shadow-color: 0 0 10px #5296AC;

@mixin transition($value) {
  transition: $value;
}

@mixin gridDisplay($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

@mixin flexDisplay($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}